@import "src/shared/theme/variables";

.userInfoContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.userAvatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.userLink {
  font-weight: 600;
  font-size: 18px;
  color: $text-primary;
}